<html>
  <head>
      <link rel="stylesheet" href="/static/style.css" type="text/css">
      <title>App - login page</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
          .error {
         text-align: center;
         color: #FF0000;
               }
          
      </style>
          
          
    
  </head>
<body>
  <form action="" method="post">
      <div class="login">
          <div class="login-screen">
              <div class="app-title">
                  <h1>Arrhythmia classifier login</h1>
              </div>
              <div class="login-form">
                  <div class="control-group">
                      <input type="text" placeholder="Username" class="login-field" name="username" value="{{request.form.username }}">
                      <label class="login-field-icon fui-user" for="login-name"></label></div>
                  <div class="control-group">
                      <input type="password" class="login-field" placeholder="Password" name="password" value="{{request.form.password }}">                         
                      <label class="login-field-icon fui-lock" for="login-pass"></label></div>
                      <input class="btn btn-primary btn-large btn-block" type="submit" value="Login">
              </div>
          </div>
      </div>
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}
</body>
</html>